<div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-5 text-center text-success">Srart-Idea</h1>
        <p class="lead text-center">This is an app for writing startup ideas. you can save your ideas so you will not forget them!</p>
    </div>
    </div>
</div>