<div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-5 text-center text-success">Welcome to Start-Idea</h1>
        <p class="lead">Write down your <b "font-wegt-bolt">Startup</b> ideas</p>
        <a href="/ideas/add" class="btn btn-outline-success btn-lg">Add Startup Ideas</a>
    </div>
    </div>
</div>